.partners-wrapper {
  background: linear-gradient(to bottom, #e8f5e9, #f1f8f5);
  padding: 290px 20px;
  text-align: center;
}


.title {
  text-align: center;
  font-size: 575px;
  font-weight: bold;
  color: #2e7d32;
  margin-bottom: 500px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 30px;
  position: relative;
}

li a {
  display: block;
  text-decoration: none;
  color: #1b5e20;
  font-weight: bold;
  position: relative;
  padding-right: 35px;
  transition: color 0.3s ease;
    font-size: 24px;
}

li a:hover {
  color: #388e3c;
}

li a::before {
  content: "➤";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #4caf50;
  font-size: 224px;
}
