.tabbed-section {
  padding: 2rem 1rem;
  font-family: 'Cairo', sans-serif;
  direction: rtl;
  background-color: #ffffff;
}

.tabs-header {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.tab {
padding: 14px 32px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  border: 2px solid #00664f;
  cursor: pointer;
  background-color: white;
  color: #00664f;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
}

.tab:hover {
  background-color: #ffffff;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 102, 79, 0.2);

}

.tab.active {
  background-color: #00664f;
  color: white;
}
